<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
		<img class=" logo" src="http://digitalterminal.in/uploads/news/1537427447s_ACKO-Recognized-as-Top-Company-on-LinkedIns-Annual-Top-Startups-List.png" alt="" style="	height: 80px" />
	  </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Fault History</a></li>
        <li><a href="#">Claims</a></li>
        <li><a href="#">Trends</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <h2>
		<img class=" logo" src="http://digitalterminal.in/uploads/news/1537427447s_ACKO-Recognized-as-Top-Company-on-LinkedIns-Annual-Top-Startups-List.png" alt="" style="	height: 80px" />
	  </h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Fault History</a></li>
        <li><a href="#section3">Claims</a></li>
        <li><a href="#section3">Trends</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-10">
      <div class="well row">
        <h3 class="col-sm-6">Dashboard</h3>
		
		<h3 class="dropdown col-sm-2">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Asset
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
			  <li><a href="#">Train XX01</a></li>
			  <li><a href="#">Train XX02</a></li>
			  <li><a href="#">Train XX03</a></li>
			</ul>
		 </h3>
		 <h3 class="col-sm-4">
			<input type="text" name="daterange" value="01/01/2018 - 01/09/2018" />
		 </h3>
        <!-- <p>Some text..</p> -->
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Fault #</h4>
            <p>{{data['timeLine'] ? data['timeLine'].length:'_'}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Ignored Fault #</h4>
            <p>{{data['count'] ? data['count']['count']:'_'}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Last Alarm Time</h4>
            <p>{{data['lines'] ? (data['lines'].slice(-1)[0]['value'] | date:'yyyy-MM-dd HH:mm') :'_'}}</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Claim Status</h4>
            <p><a>{{data['lines'] ? (data['lines'].length > 0 ? 'Pending' : 'No Pending Status'):'_'}} </a></p> 
          </div>
        </div>
      </div>
      <div class="row">
		<img ng-hide = "data['lines']" class=" logo" src="https://cdn.dribbble.com/users/359314/screenshots/2379673/untitled-3.gif" alt="" style="	height: 80px" />
		<div id="timelineGraph"></div>
      </div>
    </div>
  </div>
</div>

<style>
	#timelineGraph {
		width: 100%;
		height:80%;
	}
	.well {
		padding:10px;
	}
	.h1, .h2, .h3, h1, h2, h3 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #6850a1;
	}
	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
		color: #fff;
		background-color: #6850a1;
		border-color: #122b40;
	}
</style>