<!DOCTYPE html>
<html ng-app="cerebra">
	<head>
		<script>
		window.sessionToken = '<%= sessionToken %>';
		</script>
		<link rel="stylesheet" type="text/css" href="/vokalWebAssets/static/css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/vokalWebAssets/static/css/fontawesome/font-awesome.min.css">
		<link rel="stylesheet" href="/vokalWebAssets/static/css/standard/style.css">
	</head>
	<body ng-app="cerebra">
		<div ng-include='"/vokalWebAssets/templates/home/home.html"' ng-controller="vokalWebController  as vm"></div>
	</body>
	<script type="text/javascript" src="/vokalWebAssets/static/js/jquery/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="/vokalWebAssets/static/js/angular/angular.min.js"></script>
	<script type="text/javascript" src="/vokalWebAssets/static/js/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="/vokalWebAssets/static/js/angular/ngStorage.min.js"></script>
	<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbSuY25yhPeYu1cM2O2Wan7UDm_AuD3A0&extension=.js"></script> -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyBbSuY25yhPeYu1cM2O2Wan7UDm_AuD3A0"></script>
	<script type="text/javascript" src="/vokalWebAssets/static/js/bootstrap/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="/vokalWebAssets/static/js/bootstrap/bootstrap.min.js"></script>
	<script src="/vokalWebAssets/static/js/angular/ng-map.js"></script>
    <script src="/vokalWebAssets/static/js/angular/angular-Animate.js"></script>
	<script src="/vokalWebAssets/static/js/bootstrap/ui-bootstrap.js"></script>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
	<script type="text/javascript" src="/vokalWebAssets/app.js"></script>
	<script type="text/javascript" src="/vokalWebAssets/templates/Home/Home.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/xrange.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</html>