div.container {
    width: 100%;
	height:100%;
	padding:0px;
}
header{
    padding: 1px;
    color: rgb(160, 153, 153);
    background-color: rgb(163, 204, 255);
    text-align: center;
    position: relative;
    top: 0px;
    width: 100%;
    margin-bottom: 5px;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
}
.logout{
	float: right;
    width: 5%;
    margin: 18px;
}
.inputLocation{
	border: 5px solid rgba(128, 128, 128, 0.35);
    padding: 10px;
    text-align: center;
    margin: 31px 50px 31px 53px;
}
.mapContainer{
	border: 5px solid rgba(128, 128, 128, 0.35);
    padding: 10px;
    margin: 0px 50px 31px 53px;
}
.addressDetail{
	margin: 0px 50px 0px 53px;
}
.searchResult{
	padding:5px;
	border-bottom:1px solid black;
}